## Food Inspections Evaluation

# Problem Statment:

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go

In [235]:
# ! conda install plotly

## Executive Summary

## Datasets Description:

## Data Import :

In [10]:
# Read in datasets from csv to pandas dataframes,
#load only useful columns
food_inspect_data = pd.read_csv('Food_Inspections.csv')

In [11]:
# Quickly lowercase and camelcase all column names in a DataFrame
# we need to rename columns to use it with SQL later
food_inspect_data = food_inspect_data.rename(columns=lambda x: x.lower().replace(' ', '_').replace('#','').replace('-','_'))

## Display Data:

In [12]:
food_inspect_data.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,...,results,violations,latitude,longitude,location,historical_wards_2003_2015,zip_codes,community_areas,census_tracts,wards
0,2288224,"LA V BAKERY, INC","LA V BAKERY, INC",2550054.0,Bakery,Risk 2 (Medium),2338 S KEDZIE AVE,CHICAGO,IL,60623.0,...,Out of Business,NaN,41.848790,-87.705311,"(41.84879049508066, -87.70531098155864)",36.0,21569.0,32.0,291.0,1.0
1,2288222,LA TROPICANA FRESH MARKET,LA TROPICANA FRESH MARKET,2663484.0,Grocery Store,Risk 3 (Low),1005 N PULASKI RD,CHICAGO,IL,60651.0,...,Pass,NaN,41.899228,-87.726052,"(41.89922779688617, -87.72605226905087)",41.0,4299.0,24.0,456.0,45.0
2,2286210,GOLDEN SPICE BAKERY,GOLDEN SPICE BAKERY,2663877.0,Bakery,Risk 2 (Medium),2338 S KEDZIE AVE,CHICAGO,IL,60623.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.848790,-87.705311,"(41.84879049508066, -87.70531098155864)",36.0,21569.0,32.0,291.0,1.0
3,2288221,PALETERIA AYUTLA,PALETERIA AYUTLA,2321232.0,Restaurant,Risk 2 (Medium),2404 W 46TH PL,CHICAGO,IL,60632.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.809457,-87.684746,"(41.80945691736228, -87.68474598934672)",29.0,14924.0,55.0,687.0,3.0
4,2288249,SPILT MILK,SPILT MILK,2663633.0,Bakery,Risk 2 (Medium),1844 S BLUE ISLAND AVE,CHICAGO,IL,60608.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.856731,-87.662300,"(41.85673053879921, -87.66229983625918)",8.0,14920.0,33.0,365.0,26.0

In [13]:
food_inspect_data.rename(columns={"license_": "license"}, inplace=True)

Briefly describe the data:

# B

## Investigate the Dataset

In [14]:
#check the shape of our dataset
food_inspect_data.shape

(186354, 22)

In [15]:
# information about dataset
food_inspect_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186354 entries, 0 to 186353
Data columns (total 22 columns):
inspection_id                 186354 non-null int64
dba_name                      186354 non-null object
aka_name                      183903 non-null object
license                       186338 non-null float64
facility_type                 181603 non-null object
risk                          186279 non-null object
address                       186354 non-null object
city                          186193 non-null object
state                         186320 non-null object
zip                           186275 non-null float64
inspection_date               186354 non-null object
inspection_type               186353 non-null object
results                       186354 non-null object
violations                    136747 non-null object
latitude                      185690 non-null float64
longitude                     185690 non-null float64
location                      185690 non-null object
historical_wards_2003_2015    183054 non-null float64
zip_codes                     185690 non-null float64
community_areas               183054 non-null float64
census_tracts                 185661 non-null float64
wards                         183054 non-null float64
dtypes: float64(9), int64(1), object(12)
memory usage: 31.3+ MB

In [16]:
# total of missing values in each columns
# Verifying missing data
food_inspect_data.isnull().sum()

inspection_id                     0
dba_name                          0
aka_name                       2451
license                          16
facility_type                  4751
risk                             75
address                           0
city                            161
state                            34
zip                              79
inspection_date                   0
inspection_type                   1
results                           0
violations                    49607
latitude                        664
longitude                       664
location                        664
historical_wards_2003_2015     3300
zip_codes                       664
community_areas                3300
census_tracts                   693
wards                          3300
dtype: int64

In [17]:
food_inspect_data.describe()

,inspection_id,license,zip,latitude,longitude,historical_wards_2003_2015,zip_codes,community_areas,census_tracts,wards
count,1.863540e+05,1.863380e+05,186275.000000,185690.000000,185690.000000,183054.000000,185690.000000,183054.000000,185661.000000,183054.000000
mean,1.401282e+06,1.578144e+06,60629.055633,41.880871,-87.676531,27.563615,17949.851134,37.457089,374.573540,26.924967
std,6.189594e+05,8.934119e+05,22.749563,0.080897,0.058807,14.536148,6301.889133,19.163725,244.326867,13.729340
min,4.424700e+04,0.000000e+00,60007.000000,41.644670,-87.914428,1.000000,4299.000000,1.000000,1.000000,1.000000
25%,1.115189e+06,1.194063e+06,60614.000000,41.833619,-87.707534,16.000000,14917.000000,24.000000,149.000000,16.000000
50%,1.464266e+06,1.964515e+06,60625.000000,41.891689,-87.666419,26.000000,21538.000000,36.000000,358.000000,27.000000
75%,1.970564e+06,2.216068e+06,60643.000000,41.939745,-87.634844,41.000000,22212.000000,55.000000,598.000000,37.000000
max,2.288249e+06,9.999999e+06,60827.000000,42.021064,-87.525094,53.000000,26633.000000,77.000000,801.000000,50.000000

In [18]:
food_inspect_data.facility_type.value_counts()

Restaurant                                    123783
Grocery Store                                  23988
School                                         11860
Children's Services Facility                    2725
Bakery                                          2707
Daycare (2 - 6 Years)                           2637
Daycare Above and Under 2 Years                 2176
Long Term Care                                  1244
Catering                                        1105
Mobile Food Dispenser                            843
Liquor                                           830
Daycare Combo 1586                               780
Mobile Food Preparer                             551
Golden Diner                                     538
Wholesale                                        530
Hospital                                         501
TAVERN                                           252
Daycare (Under 2 Years)                          229
Special Event                                    205
Shared Kitchen User (Long Term)                  192
BANQUET HALL                                     141
GAS STATION                                      114
Mobile Prepared Food Vendor                      108
KIOSK                                            105
Shared Kitchen                                   102
Shelter                                           94
CHARTER SCHOOL                                    69
LIVE POULTRY                                      56
Navy Pier Kiosk                                   54
BANQUET                                           53
                                               ...
UNLICENSED FACILITY                                1
SERVICE BAR/THEATRE                                1
ART GALLERY                                        1
SHARED KITCHEN USER (LONG TREM)                    1
PRODUCE VENDOR                                     1
Meat Market                                        1
SERVICE GAS STATION                                1
SPA                                                1
TAVERN/1006                                        1
MOBILE FROZEN DESSERTS DISPENSER-NON-MOTOR         1
GIFT/CARD SHOP WITH CANDY                          1
BOOK STORE                                         1
COMMIASARY                                         1
Day Care Combo (1586)                              1
CULINARY CLASS ROOMS                               1
NON-FOR PROFIT BASEMENT KIT                        1
FOOD PANTRY                                        1
Internet Cafe                                      1
Food Vending Machines                              1
CONVENIENCE/GAS STATION                            1
religious                                          1
HERBALIFE STORE                                    1
PEDDLER                                            1
COMMISARY RESTAURANT                               1
AFTER SCHOOL CARE                                  1
NEWSSTAND                                          1
HEALTH CENTER/NUTRITION CLASSES                    1
GROCERY & RESTAURANT                               1
Gas station                                        1
ALTERNATIVE SCHOOL                                 1
Name: facility_type, Length: 474, dtype: int64

# Preprocessing and Data Structure

##### Take just we need from dataset :

In [19]:
# Extracting facility_type Restaurant
# Only consider restaurants
food_inspect_data_restaurant = food_inspect_data[food_inspect_data['facility_type'] =='Restaurant']

In [20]:
food_inspect_data_restaurant.shape

(123783, 22)

In [21]:
food_inspect_data_restaurant.facility_type.count()

123783

In [22]:
food_inspect_data_restaurant.head()

,inspection_id,dba_name,aka_name,license,facility_type,risk,address,city,state,zip,...,results,violations,latitude,longitude,location,historical_wards_2003_2015,zip_codes,community_areas,census_tracts,wards
3,2288221,PALETERIA AYUTLA,PALETERIA AYUTLA,2321232.0,Restaurant,Risk 2 (Medium),2404 W 46TH PL,CHICAGO,IL,60632.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.809457,-87.684746,"(41.80945691736228, -87.68474598934672)",29.0,14924.0,55.0,687.0,3.0
5,2288211,SUBWAY,SUBWAY,1495274.0,Restaurant,Risk 1 (High),3167 N LINCOLN AVE,CHICAGO,IL,60657.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939425,-87.668111,"(41.93942462169401, -87.66811073298523)",16.0,4449.0,57.0,712.0,40.0
7,2288229,SHINYA RAMEN HOUSE,SHINYA RAMEN HOUSE,2578639.0,Restaurant,Risk 1 (High),3240 S HALSTED ST,CHICAGO,IL,60608.0,...,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.835224,-87.646356,"(41.83522370724441, -87.64635603210917)",26.0,14920.0,58.0,676.0,48.0
10,2286158,IVY HOTEL,IVY HOTEL,2653277.0,Restaurant,Risk 1 (High),233 E ONTARIO ST,CHICAGO,IL,60611.0,...,Not Ready,NaN,41.893265,-87.621812,"(41.8932651489868, -87.62181212015325)",22.0,21182.0,37.0,159.0,36.0
11,2286182,IVY HOTEL,IVY HOTEL,2653273.0,Restaurant,Risk 1 (High),233 E ONTARIO ST,CHICAGO,IL,60611.0,...,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.893265,-87.621812,"(41.8932651489868, -87.62181212015325)",22.0,21182.0,37.0,159.0,36.0

In [23]:
# Extracting inspection_type Canvass
# Only consider canvass inspections (not complaints or re-inspections)
food_inspect_data_restaurant = food_inspect_data_restaurant[food_inspect_data['inspection_type'] =='Canvass']

/Users/aseel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [28]:
# Deleting unnecessary columns Because we know we're working on a restaurant in Chicago 
food_inspect_data_restaurant = food_inspect_data_restaurant.drop(['facility_type', 'city', 'state','aka_name','inspection_type'], axis=1)

In [30]:
food_inspect_data_restaurant.isnull().sum()

inspection_id                     0
dba_name                          0
license                           0
risk                              0
address                           0
zip                              17
inspection_date                   0
results                           0
violations                    13512
latitude                         71
longitude                        71
location                         71
historical_wards_2003_2015     1661
zip_codes                        71
community_areas                1661
census_tracts                    86
wards                          1661
dtype: int64

In [ ]:
# convert date type from str to datetime to easy apply date things
food_inspect_data_restaurant['inspection_date'] =  pd.to_datetime(food_inspect_data['inspection_date'])

In [ ]:
food_inspect_data_restaurant.info()

In [ ]:
food_inspect_data_restaurant.info()

In [ ]:
# select date starting from 2013
food_inspect_data_restaurant = food_inspect_data_restaurant.loc[food_inspect_data_restaurant['inspection_date'] >= '2013']

In [ ]:
food_inspect_data_restaurant.inspection_date.value_counts()

In [ ]:
# to idntifuy the result and we will take just bussniss
food_inspect_data_restaurant.loc[food_inspect_data_restaurant.violations.isna(), 'results'].value_counts()

In [ ]:
food_inspect_data_restaurant.risk.value_counts()

### Handeling Missing Value:

In [386]:
# df = df[df.latuidad.notna()]

In [ ]:
# Drop duplicates
# food_inspect_data_restaurant.drop_duplicates("inspection_id", inplace=True)

In [31]:
## Drop "0" licenses
food_inspect_data_restaurant = food_inspect_data_restaurant[food_inspect_data_restaurant.license != 0]

In [32]:
# Only consider successful inspections
food_inspect_data_restaurant = food_inspect_data_restaurant[~food_inspect_data_restaurant.results.isin(["Out of Business", "Business Not Located", "No Entry"])]

In [33]:
food_inspect_data_restaurant.results.value_counts()

Pass                  32402
Fail                  11145
Pass w/ Conditions    10457
Not Ready                28
Name: results, dtype: int64

In [41]:
null_columns=food_inspect_data_restaurant.columns[food_inspect_data_restaurant.isnull().any()]
food_inspect_data_restaurant[null_columns].isnull().sum()

zip                              7
latitude                        59
longitude                       59
location                        59
historical_wards_2003_2015    1577
zip_codes                       59
community_areas               1577
census_tracts                   73
wards                         1577
dtype: int64

In [36]:
# filling the vailatuins 
food_inspect_data_restaurant.violations.fillna("No Violations", inplace = True)

In [ ]:
#Drop rows with missing data
# food_inspect_data_restaurant.dropna(subset=["inspection_date", "license", "latitude", "longitude"], inplace=True)

In [ ]:
df = food_inspect_data_restaurant[food_inspect_data_restaurant.latitude.notna()]

In [ ]:
print(df[df["zip"].isnull()][null_columns])

In [ ]:
df[df.isnull().any(axis=1)][null_columns].head()

In [ ]:
# df = df.dropna(axis=0, subset=['zip'])

In [37]:
food_inspect_data_restaurant.violations.isnull().sum()

0

In [390]:
df.isnull().sum()

inspection_id                    0
dba_name                         0
license_                         0
risk                             0
address                          0
zip                             10
inspection_date                  0
inspection_type                  0
results                          0
violations                       0
latitude                         0
longitude                        0
location                         0
historical_wards_2003_2015    1169
zip_codes                        0
community_areas               1169
census_tracts                   11
wards                         1169
dtype: int64

In [392]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50837 entries, 3 to 130654
Data columns (total 18 columns):
inspection_id                 50837 non-null int64
dba_name                      50837 non-null object
license_                      50837 non-null float64
risk                          50837 non-null object
address                       50837 non-null object
zip                           50827 non-null float64
inspection_date               50837 non-null datetime64[ns]
inspection_type               50837 non-null object
results                       50837 non-null object
violations                    50837 non-null object
latitude                      50837 non-null float64
longitude                     50837 non-null float64
location                      50837 non-null object
historical_wards_2003_2015    49669 non-null float64
zip_codes                     50837 non-null float64
community_areas               49669 non-null float64
census_tracts                 50826 non-null float64
wards                         49669 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(7)
memory usage: 7.4+ MB

In [333]:
df.community_areas.head()

3     55.0
5     57.0
12    33.0
16    31.0
18    55.0
Name: community_areas, dtype: float64

In [334]:
df.wards.head()

3      3.0
5     40.0
12    26.0
16    39.0
18     3.0
Name: wards, dtype: float64

In [ ]:
df.zip.dropna(inplace = True)

## Duplicated value

In [39]:
sum(food_inspect_data_restaurant.duplicated())

0

In [423]:
# food_inspect_data_restaurant.drop_duplicates("inspection_id", inplace=True)

In [425]:
# food_inspect_data_restaurant.drop_duplicates(inplace=True)

In [40]:
food_inspect_data_restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54032 entries, 3 to 186347
Data columns (total 17 columns):
inspection_id                 54032 non-null int64
dba_name                      54032 non-null object
license                       54032 non-null float64
risk                          54032 non-null object
address                       54032 non-null object
zip                           54025 non-null float64
inspection_date               54032 non-null object
results                       54032 non-null object
violations                    54032 non-null object
latitude                      53973 non-null float64
longitude                     53973 non-null float64
location                      53973 non-null object
historical_wards_2003_2015    52455 non-null float64
zip_codes                     53973 non-null float64
community_areas               52455 non-null float64
census_tracts                 53959 non-null float64
wards                         52455 non-null float64
dtypes: float64(9), int64(1), object(7)
memory usage: 7.4+ MB

## Save the data set

In [ ]:
food_inspect_data_restaurant.to_csv('Food Inspections for Restaurant.csv')